<!-- app/views/articles/index.html.erb -->
<!DOCTYPE html>
<html lang="">
<head>
  <title>Articles</title>
</head>

<body>

<style>
    .deletion-message {
        font-weight: bold;
        padding: 10px;
        margin: 10px 0;
    }

    .success {
        color: green;
    }

    .failure {
        color: red;
    }
</style>

<script>
  function ask_author_key(article_id) {

      let author_key = prompt("Enter your Key:", "Key...")

      if (author_key != null) {
          let requestURL = `/retrieved_articles/${article_id}`

          //make the AJAX request
          fetch(requestURL, {
              method: 'DELETE',
              headers: {
                  'Content-Type': 'application/json'
              },
              //passes the following arguments to controller:
              body: JSON.stringify({
                  article_id: article_id,
                  author_key: author_key
              })
          })
              .then(response => {
                  if (response.ok) {
                      displayDeletionResult(true)
                      console.log('Article deleted successfully');
                  } else {
                      displayDeletionResult(false)
                      console.error('Error deleting article');
                  }
              })
              .catch(error => {
                  console.error('Error:', error);
              });
      }
  }

  //write a message to the bottom of the page based on DELETE response
  function displayDeletionResult(result) {
      if (result===false) {
          // Create a div element to hold the message
          const deletionFailureMessage = document.createElement('div');
          deletionFailureMessage.textContent = 'Failed to delete article. Please try again later.';
          deletionFailureMessage.classList.add('failure'); // Add failure class
          deletionFailureMessage.classList.add('deletion-failure-message');

          // Append the message to the body of the document
          document.body.appendChild(deletionFailureMessage);
      }
      else {
          // Create a div element to hold the message
          const deletionDoneMessage = document.createElement('div');
          deletionDoneMessage.textContent = 'Article was destroyed successfully';
          deletionDoneMessage.classList.add('success'); // Add success class
          deletionDoneMessage.classList.add('deletion-done-message');

          // Append the message to the body of the document
          document.body.appendChild(deletionDoneMessage);
      }
  }
</script>


<h1>Articles</h1>
<ul>
  <% @retrieved_articles['articles'].each do |retrieved_article| %>
    <li>
      <!-- Display article -->
      <h2><%= retrieved_article['title'] %></h2>
      <p><%= retrieved_article['body'] %></p>
      <br></br>

      <%= hidden_field_tag "articles[][author_key]", "", id: "author_key_#{retrieved_article['id']}" %>

      <!-- Destroy article -->
      <button onClick="ask_author_key(<%=retrieved_article['id'] %>)">Delete Article</button>

    </li>
  <% end %>
</ul>

<!-- finestra di popup apparsa alla pressione del tasto Delete Article-->
<div id="popup" style="display: none">
  <p>hello</p>
</div>

</body>
</html>

<%= link_to "New Article", new_retrieved_article_path %>

